* {
    padding: 0;
    margin: 0;
}

#main {
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

#title {
    color: darkblue;
    font-size: 100px;
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

h3,
h4 {
    font-weight: 500;
    line-height: .8;
    letter-spacing: 0.5;
    font-size: 25px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

#img-div {
    display: block;
    padding: 10px 0;
    max-width: 90%;
    margin: auto;
    background-color: hsl(195, 21%, 93%);
}

#image {
    display: block;
    margin: auto;
    max-width: 98%;
}

#img-caption {
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

blockquote,
#outro-div {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    font-weight: 450;
    font-style: italic;
    background-color: darkblue;
    color: aliceblue;
}

blockquote p,
#outro {
    width: 95%;
    margin: auto;
}

#info {
    width: calc(90% - 4px);
    margin: auto;
    border: 2px solid darkblue;
}

dl {
    display: grid;
    grid-template-columns: max-content;
    max-width: 60%;
    margin: 20px auto;
    text-align: start;
    row-gap: 15px;
}

dt {
    grid-column-start: 1;
    font-weight: 600;
    padding-right: 20px;
}

dd {
    grid-column-start: 2;
}

#links {
    background-color: hsl(195, 21%, 93%);
    width: 90%;
    padding: 5px 0;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}